<div class="row">
  <div class="col-md-12">
    <form [formGroup]="formPromocion" (ngSubmit)="onSubmit()">
      <div class="card">
        <div class="card-header">Crear Promoción</div>
        <div class="card-body">
          <div class="row" *ngIf="esSuccess">
            <div class="col-md-12">
              <div class="alert alert-success" role="alert">
                <strong>Promoción creada con éxito! <br>
                  Codigo: {{ codigo }}
                </strong>
                <strong></strong>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="nombre"
                  placeholder="Nombre"
                />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="nombre">Email</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="email"
                  placeholder="Email"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary">Crear</button>
        </div>
      </div>
    </form>
  </div>
</div>
